<!DOCTYPE html>
<html>
    <head>
     <link rel="stylesheet" href="email.css">
    </head>
    <body>
        <div><br><br>
            <di  class="container tab" style="width:80%; margin: 0 auto;">
                <div>
                    <div class="background" style=" background: rgba(125, 190, 216, 0.45);padding:20px;border-top-right-radius: 5px;border-top-left-radius: 5px;">
                       <div class="row">
                        <div class="col-md-8">
                        <img src="../../assets/images/email_icon.svg" alt="" style="width: max-content;">
                        </div>
                        <div class="col-md-4 date" style="font-family:Metropolis-Regular;font-size: 20px;line-height: 30px;color: #FFFFFF;"><p style="float:right;padding-top:30px;padding-right:30px">Sep 05, 2019</p></div>
                    </div>
                    <h3 class="signup" style="font-family: Metropolis-Regular;font-size: 20px;line-height: 30px;color: #FFFFFF;text-align: center"><%= subject %></h3>
                    </div>
                </div>
    
                <div>
                    <div class="background1" style="background: #F8F7F7;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <div style="padding:50px">
                            <div class="background_sub " style="background: #FFFFFF;padding:50px;border-radius: 5px;">
                            <p class="thank_you" style="font-family: Metropolis-Regular;font-size: 16px;line-height: 18px;color: rgba(0, 0, 0, 0.59);text-align: center;"><%= content %></p>
                            <br><br>
                            <div class="button_position" style="text-align:center;">
                                
                            </div>
                        </div>
                        </div>
                        <p class="spam" style="font-family: Metropolis-Regular;font-size: 12px;line-height: 12px;color: #94979B;text-align: center">If you got this mail by mistake, please kindly delete it.</p>
                        <p class="copy_right" style=" font-family: Metropolis-Regular;font-size: 12px;line-height: 12px;color: #94979B;text-align:center;">© Getanyfood 2019, all rights reserved</p>
                        <p class="info" style=" font-family: Metropolis-Regular;font-size: 16px;line-height: 18px;color: #94979B;text-align:center;">
                            <span>Info@getanyfood.com</span>
                            <span class="one" style=" padding-left:10px;padding-right:10px;">| +234 902 993 5036 |</span>
                            <span>Unsubscribe</span>
                        </p>
                        <br>
                    </div>
                </div>
    
            </div>
        </div>
    </body>
</html>
